.app {
  text-align: center;
  padding-left: 380px;
  padding-right: 380px;
  /* padding-top: 380px; */
  padding-bottom: 380px;
  
}

select {
  padding: 12px;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.movie-item {
  background: #f39c12;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

.movie-item:hover {
  transform: scale(1.1);
}
