.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
  }
  
  .modal-content input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
  }
  
  .modal-content button {
    background-color: #f39c12;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
  }
  
  .close-btn {
    background: red;
    color: white;
    margin-top: 10px;
  }
  